<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <title>Ajouter un article</title>
    </head>
    <body>
        <div class="new-article-container">
            <form method="post">
                <div class="form-group row">
                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                       <input name="id" class="form-control" type="text" placeholder="{{formData.id}}" readonly>
                    </div>
                       {% if errors.name is defined %}
                    <div class="return-articles">
                            {{messages.name}}
                    </div>
                    {% endif %}   
                </div>
                
                <div class="form-group row">
                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" value="{{formData.name}}">
                    </div>
                       {% if errors.name is defined %}
                    <div class="return-articles">
                            {{messages.name}}
                    </div>
                    {% endif %}   
                </div>
                
                <div class="form-group row">
                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input name="description" type="text" class="form-control" id="exampleFormControlInput1" placeholder="description" value="{{formData.description}}">
                    </div>
                       {% if errors.description is defined %}
                    <div class="return-articles">
                            {{messages.description}}
                    </div>
                {% endif %}   
                </div>
                <div class="form-group row">
                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input name="price" type="text" class="form-control" id="exampleFormControlInput1" placeholder="price" value="{{formData.price}}">
                    </div>
                       {% if errors.price is defined %}
                        <div class="return-articles">
                            {{messages.price}}
                        </div>
                    {% endif %}   
                </div>
                <div class="form-group row">
                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input name="quantity" type="text" class="form-control" id="exampleFormControlInput1" placeholder="quantity" value="{{formData.quantity}}">
                    </div>
                       {% if errors.quantity is defined %}
                    <div class="return-articles">
                            {{messages.quantity}}
                    </div>
                {% endif %}   
                </div>
                <button type="submit" class="btn btn-secondary">Modifier</button>
            </form>
        </div> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
